* text=auto !eol
AcpiReset/Reset.c -text
AcpiReset/Reset.inf -text
AtaAtapi/AhciMode.c -text
AtaAtapi/AhciMode.h -text
AtaAtapi/AtaAtapiPassThru.c -text
AtaAtapi/AtaAtapiPassThru.h -text
AtaAtapi/AtaAtapiPassThru.inf -text
AtaAtapi/ComponentName.c -text
AtaAtapi/IdeMode.c -text
AtaAtapi/IdeMode.h -text
AtaBus/AtaBus.c -text
AtaBus/AtaBus.h -text
AtaBus/AtaBusDxe.inf -text
AtaBus/AtaPassThruExecute.c -text
AtaBus/ComponentName.c -text
BiosKeyboard/BiosKeyboard.c -text
BiosKeyboard/BiosKeyboard.h -text
BiosKeyboard/ComponentName.c -text
BiosKeyboard/ComponentName.h -text
BiosKeyboard/KeyboardDxe.inf -text
BiosKeyboard/LegacyBiosThunk.c -text
BiosVideo/BiosVideo.c -text
BiosVideo/BiosVideo.h -text
BiosVideo/BiosVideo.inf -text
BiosVideo/BiosVideoNew.c -text
BiosVideo/ComponentName.c -text
BiosVideo/LegacyBiosThunk.c -text
BiosVideo/VesaBiosExtensions.h -text
BootHFS/README.txt -text
BootHFS/boot0.s -text
BootHFS/boot1.s -text
BootHFS/boot1f32-install.sh -text
BootHFS/boot1f32.s -text
BootSector/HowToCompileAsm.txt -text
BootSector/bin/Gpt.com -text
BootSector/bin/Mbr.com -text
BootSector/bin/Readme.txt -text
BootSector/bin/St16_64.com -text
BootSector/bin/St32_64.com -text
BootSector/bin/Start64.com -text
BootSector/bin/boot0 -text
BootSector/bin/boot1h -text
BootSector/bin/bs32.com -text
BootSector/bin/efi32.com3 -text
BootSector/bin/efi64.com2 -text
BootSector/bin/efi64.com3 -text
BootSector/bin/start32.com -text
BootSector/bin/start32H.com2 -text
BootSector/bin/start64H.com2 -text
BootSector/boot1.s -text
BootSector/efi32.S -text
BootSector/fix-embedded-paths -text
BootSector/gnu-gcc -text
BootSector/gnu-ld -text
BootSector/st32_64.S -text
BootSector/start32.S -text
BootSector/start32H.S -text
BootSector/start32H2.S -text
/Clover.fdf -text
/CloverIa32.dsc -text
CpuDxe/Cpu.c -text
CpuDxe/Cpu.inf -text
CpuDxe/CpuDxe.h -text
CpuDxe/Ia32/CpuInterrupt.S -text
CpuDxe/Ia32/CpuInterrupt.asm -text
CpuDxe/X64/CpuInterrupt.S -text
CpuDxe/X64/CpuInterrupt.asm -text
DVDBus/ComponentName.c -text
DVDBus/ScsiBus.c -text
DVDBus/ScsiBus.h -text
DVDBus/ScsiBusDxe.inf -text
DVDDisk/ComponentName.c -text
DVDDisk/ScsiDisk.c -text
DVDDisk/ScsiDisk.h -text
DVDDisk/ScsiDiskDxe.inf -text
/DuetPkg.fdf -text
/DuetPkg64.fdf -text
/DuetPkgIa32.dsc -text
/DuetPkgX64.dsc -text
GenericBdsLib/BdsBoot.c -text
GenericBdsLib/BdsConnect.c -text
GenericBdsLib/BdsConsole.c -text
GenericBdsLib/BdsMisc.c -text
GenericBdsLib/DevicePath.c -text
GenericBdsLib/GenericBdsLib.inf -text
GenericBdsLib/GenericBdsStrings.uni -text
GenericBdsLib/InternalBdsLib.h -text
GenericBdsLib/Performance.c -text
GenericBdsLib/String.c -text
GenericBdsLib/String.h -text
HFSPlus/HFSPlus.inf -text
HFSPlus/ReadMe.rtf -text
Include/Guids/AcpiDescription.h -text
Include/Guids/ConsoleOutConfig.h -text
Include/Guids/DxeCoreFileName.h -text
Include/Guids/FlashMapHob.h -text
Include/Guids/LdrMemoryDescriptor.h -text
Include/Guids/PciExpressBaseAddress.h -text
Include/Guids/PciOptionRomTable.h -text
Include/IndustryStandards/PeImage.h -text
Include/IndustryStandards/Smbios.h -text
Include/Library/PeCoffLib.h -text
IntelGmaDxe/ComponentName.c -text
IntelGmaDxe/CpuSupport.h -text
IntelGmaDxe/EDID.c -text
IntelGmaDxe/EDID.h -text
IntelGmaDxe/GOP_Release_Notes.txt -text
IntelGmaDxe/Gop.c -text
IntelGmaDxe/Gop.h -text
IntelGmaDxe/Gop.inf -text
IntelGmaDxe/GraphicsOutput.c -text
IntelGmaDxe/Ia32/CpuSupport.c -text
IntelGmaDxe/VideoModes.c -text
LegacyBios/BlockIoDxe/BiosBlkIo.c -text
LegacyBios/BlockIoDxe/BiosBlkIo.h -text
LegacyBios/BlockIoDxe/BiosInt13.c -text
LegacyBios/BlockIoDxe/BlockIoDxe.inf -text
LegacyBios/BlockIoDxe/ComponentName.c -text
LegacyBios/BlockIoDxe/Edd.h -text
LegacyBios/IA32/InterruptTable.S -text
LegacyBios/IA32/InterruptTable.asm -text
LegacyBios/KeyboardDxe/BiosKeyboard.c -text
LegacyBios/KeyboardDxe/BiosKeyboard.h -text
LegacyBios/KeyboardDxe/ComponentName.c -text
LegacyBios/KeyboardDxe/ComponentName.h -text
LegacyBios/KeyboardDxe/KeyboardDxe.inf -text
LegacyBios/LegacyBios.c -text
LegacyBios/LegacyBiosDxe.inf -text
LegacyBios/LegacyBiosInterface.h -text
LegacyBios/Platform/BiosSupportLib.c -text
LegacyBios/Platform/BiosSupportLib.h -text
LegacyBios/Platform/BiosSupportLib.inf -text
LegacyBios/Platform/LegacyInterrupt.c -text
LegacyBios/Platform/LegacyInterrupt.h -text
LegacyBios/Platform/LegacyPlatform.c -text
LegacyBios/Platform/LegacyPlatform.h -text
LegacyBios/Platform/LegacyRegion.c -text
LegacyBios/Platform/LegacyRegion.h -text
LegacyBios/RegionDxe/LegacyRegion.c -text
LegacyBios/RegionDxe/LegacyRegionDxe.inf -text
LegacyBios/Thunk/Thunk.c -text
LegacyBios/VideoDxe/BiosVideo.c -text
LegacyBios/VideoDxe/BiosVideo.h -text
LegacyBios/VideoDxe/ComponentName.c -text
LegacyBios/VideoDxe/VesaBiosExtensions.h -text
LegacyBios/VideoDxe/VideoDxe.inf -text
LegacyBios/X64/InterruptTable.S -text
LegacyBios/X64/InterruptTable.asm -text
Logo/Logo.bmp -text
Logo/Logo.inf -text
Logo/LogoBW.bmp -text
LzmaCustomDecompressLib/GuidedSectionExtraction.c -text
LzmaCustomDecompressLib/LZMA-SDK-README.txt -text
LzmaCustomDecompressLib/LzmaCustomDecompressLib.inf -text
LzmaCustomDecompressLib/LzmaDecompress.c -text
LzmaCustomDecompressLib/LzmaDecompressLibInternal.h -text
LzmaCustomDecompressLib/Sdk/C/7zVersion.h -text
LzmaCustomDecompressLib/Sdk/C/CpuArch.h -text
LzmaCustomDecompressLib/Sdk/C/LzFind.c -text
LzmaCustomDecompressLib/Sdk/C/LzFind.h -text
LzmaCustomDecompressLib/Sdk/C/LzHash.h -text
LzmaCustomDecompressLib/Sdk/C/LzmaDec.c -text
LzmaCustomDecompressLib/Sdk/C/LzmaDec.h -text
LzmaCustomDecompressLib/Sdk/C/Types.h -text
LzmaCustomDecompressLib/Sdk/history.txt -text
LzmaCustomDecompressLib/Sdk/lzma.txt -text
LzmaCustomDecompressLib/UefiLzma.h -text
/MPService.c -text
/MdeModulePkg.dec -text
OsxAcpiPlatformDxe/AcpiPlatform.c -text
OsxAcpiPlatformDxe/AcpiPlatformDxe.inf -text
OsxAcpiPlatformDxe/AcpiTable.h -text
OsxAcpiTableDxe/AcpiSdt.c -text
OsxAcpiTableDxe/AcpiSdt.h -text
OsxAcpiTableDxe/AcpiTable.c -text
OsxAcpiTableDxe/AcpiTable.h -text
OsxAcpiTableDxe/AcpiTableDxe.inf -text
OsxAcpiTableDxe/AcpiTableProtocol.c -text
OsxAcpiTableDxe/Aml.c -text
OsxAcpiTableDxe/AmlChild.c -text
OsxAcpiTableDxe/AmlNamespace.c -text
OsxAcpiTableDxe/AmlOption.c -text
OsxAcpiTableDxe/AmlString.c -text
OsxBdsDxe/Bds.h -text
OsxBdsDxe/BdsDxe.inf -text
OsxBdsDxe/BdsEntry.c -text
OsxBdsDxe/BootMaint/BBSsupport.c -text
OsxBdsDxe/BootMaint/BBSsupport.h -text
OsxBdsDxe/BootMaint/Bm.vfr -text
OsxBdsDxe/BootMaint/BmLib.c -text
OsxBdsDxe/BootMaint/Bmstring.uni -text
OsxBdsDxe/BootMaint/BootMaint.c -text
OsxBdsDxe/BootMaint/BootMaint.h -text
OsxBdsDxe/BootMaint/BootOption.c -text
OsxBdsDxe/BootMaint/ConsoleOption.c -text
OsxBdsDxe/BootMaint/Data.c -text
OsxBdsDxe/BootMaint/FE.vfr -text
OsxBdsDxe/BootMaint/FileExplorer.c -text
OsxBdsDxe/BootMaint/FormGuid.h -text
OsxBdsDxe/BootMaint/UpdatePage.c -text
OsxBdsDxe/BootMaint/Variable.c -text
OsxBdsDxe/BootMngr/BootManager.c -text
OsxBdsDxe/BootMngr/BootManager.h -text
OsxBdsDxe/BootMngr/BootManagerStrings.uni -text
OsxBdsDxe/BootMngr/BootManagerVfr.Vfr -text
OsxBdsDxe/Capsules.c -text
OsxBdsDxe/DeviceMngr/DeviceManager.c -text
OsxBdsDxe/DeviceMngr/DeviceManager.h -text
OsxBdsDxe/DeviceMngr/DeviceManagerStrings.uni -text
OsxBdsDxe/DeviceMngr/DeviceManagerVfr.Vfr -text
OsxBdsDxe/DeviceMngr/DeviceManagerVfr.h -text
OsxBdsDxe/DeviceMngr/DriverHealthVfr.Vfr -text
OsxBdsDxe/FrontPage.c -text
OsxBdsDxe/FrontPage.h -text
OsxBdsDxe/FrontPageStrings.uni -text
OsxBdsDxe/FrontPageVfr.Vfr -text
OsxBdsDxe/Hotkey.c -text
OsxBdsDxe/Hotkey.h -text
OsxBdsDxe/HwErrRecSupport.c -text
OsxBdsDxe/HwErrRecSupport.h -text
OsxBdsDxe/Language.c -text
OsxBdsDxe/Language.h -text
OsxBdsDxe/MemoryTest.c -text
OsxBdsDxe/String.c -text
OsxBdsDxe/String.h -text
OsxBdsDxe/Strings.uni -text
OsxBdsPlatformLib/AcpiTable.h -text
OsxBdsPlatformLib/BdsPlatform.c -text
OsxBdsPlatformLib/BdsPlatform.h -text
OsxBdsPlatformLib/PlatformBds.inf -text
OsxBdsPlatformLib/PlatformData.c -text
OsxDxeCore/Dispatcher/Dependency.c -text
OsxDxeCore/Dispatcher/Dispatcher.c -text
OsxDxeCore/DxeMain.h -text
OsxDxeCore/DxeMain.inf -text
OsxDxeCore/DxeMain/DxeMain.c -text
OsxDxeCore/DxeMain/DxeProtocolNotify.c -text
OsxDxeCore/Event/Event.c -text
OsxDxeCore/Event/Event.h -text
OsxDxeCore/Event/Timer.c -text
OsxDxeCore/Event/Tpl.c -text
OsxDxeCore/FwVol/Ffs.c -text
OsxDxeCore/FwVol/FwVol.c -text
OsxDxeCore/FwVol/FwVolAttrib.c -text
OsxDxeCore/FwVol/FwVolDriver.h -text
OsxDxeCore/FwVol/FwVolRead.c -text
OsxDxeCore/FwVol/FwVolWrite.c -text
OsxDxeCore/FwVolBlock/FwVolBlock.c -text
OsxDxeCore/FwVolBlock/FwVolBlock.h -text
OsxDxeCore/Gcd/Gcd.c -text
OsxDxeCore/Gcd/Gcd.h -text
OsxDxeCore/Hand/DriverSupport.c -text
OsxDxeCore/Hand/Handle.c -text
OsxDxeCore/Hand/Handle.h -text
OsxDxeCore/Hand/Locate.c -text
OsxDxeCore/Hand/Notify.c -text
OsxDxeCore/Image/Image.c -text
OsxDxeCore/Image/Image.h -text
OsxDxeCore/Library/Library.c -text
OsxDxeCore/Mem/Imem.h -text
OsxDxeCore/Mem/MemData.c -text
OsxDxeCore/Mem/Page.c -text
OsxDxeCore/Mem/Pool.c -text
OsxDxeCore/Misc/DebugImageInfo.c -text
OsxDxeCore/Misc/InstallConfigurationTable.c -text
OsxDxeCore/Misc/SetWatchdogTimer.c -text
OsxDxeCore/Misc/Stall.c -text
OsxDxeCore/SectionExtraction/CoreSectionExtraction.c -text
OsxDxeIpl/Debug.c -text
OsxDxeIpl/Debug.h -text
OsxDxeIpl/DxeInit.c -text
OsxDxeIpl/DxeIpl.h -text
OsxDxeIpl/DxeIpl.inf -text
OsxDxeIpl/HobGeneration.c -text
OsxDxeIpl/HobGeneration.h -text
OsxDxeIpl/Ia32/EnterDxeCore.c -text
OsxDxeIpl/Ia32/Paging.c -text
OsxDxeIpl/Ia32/VirtualMemory.h -text
OsxDxeIpl/LegacyTable.c -text
OsxDxeIpl/LegacyTable.h -text
OsxDxeIpl/PpisNeededByDxeCore.c -text
OsxDxeIpl/PpisNeededByDxeCore.h -text
OsxDxeIpl/SerialStatusCode.c -text
OsxDxeIpl/SerialStatusCode.h -text
OsxDxeIpl/X64/EnterDxeCore.c -text
OsxDxeIpl/X64/Paging.c -text
OsxDxeIpl/X64/VirtualMemory.h -text
OsxEfiLdr/Debug.c -text
OsxEfiLdr/Debug.h -text
OsxEfiLdr/EfiLdr.h -text
OsxEfiLdr/EfiLdr.inf -text
OsxEfiLdr/EfiLdrHandoff.h -text
OsxEfiLdr/EfiLoader.c -text
OsxEfiLdr/LzmaDecompress.h -text
OsxEfiLdr/PeLoader.c -text
OsxEfiLdr/PeLoader.h -text
OsxEfiLdr/Support.c -text
OsxEfiLdr/Support.h -text
OsxEfiLdr/TianoDecompress.c -text
OsxEfiLdr/TianoDecompress.h -text
OsxEfiLdr/efildr.c -text
OsxMmcDxe/ComponentName.c -text
OsxMmcDxe/Diagnostics.c -text
OsxMmcDxe/Mmc.c -text
OsxMmcDxe/Mmc.h -text
OsxMmcDxe/MmcBlockIo.c -text
OsxMmcDxe/MmcDxe.inf -text
OsxPciBusNoEnumerationDxe/ComponentName.c -text
OsxPciBusNoEnumerationDxe/PciBus.c -text
OsxPciBusNoEnumerationDxe/PciBus.h -text
OsxPciBusNoEnumerationDxe/PciBusNoEnumeration.inf -text
OsxPciBusNoEnumerationDxe/PciCommand.c -text
OsxPciBusNoEnumerationDxe/PciCommand.h -text
OsxPciBusNoEnumerationDxe/PciDeviceSupport.c -text
OsxPciBusNoEnumerationDxe/PciDeviceSupport.h -text
OsxPciBusNoEnumerationDxe/PciDriverOverride.c -text
OsxPciBusNoEnumerationDxe/PciDriverOverride.h -text
OsxPciBusNoEnumerationDxe/PciEnumerator.c -text
OsxPciBusNoEnumerationDxe/PciEnumerator.h -text
OsxPciBusNoEnumerationDxe/PciEnumeratorSupport.c -text
OsxPciBusNoEnumerationDxe/PciEnumeratorSupport.h -text
OsxPciBusNoEnumerationDxe/PciIo.c -text
OsxPciBusNoEnumerationDxe/PciIo.h -text
OsxPciBusNoEnumerationDxe/PciOptionRomSupport.c -text
OsxPciBusNoEnumerationDxe/PciOptionRomSupport.h -text
OsxPciBusNoEnumerationDxe/PciPowerManagement.c -text
OsxPciBusNoEnumerationDxe/PciPowerManagement.h -text
OsxPciBusNoEnumerationDxe/PciRomTable.c -text
OsxPciBusNoEnumerationDxe/PciRomTable.h -text
OsxSmbiosDxe/SmbiosDxe.c -text
OsxSmbiosDxe/SmbiosDxe.h -text
OsxSmbiosDxe/SmbiosDxe.inf -text
OsxSmbiosGenDxe/SmBios.h -text
OsxSmbiosGenDxe/SmbiosGen.c -text
OsxSmbiosGenDxe/SmbiosGen.h -text
OsxSmbiosGenDxe/SmbiosGen.inf -text
OsxSmbiosGenDxe/SmbiosGenStrings.uni -text
OsxSmbiosGenDxe/cpuid.h -text
PartitionDxe/Apple.c -text
PartitionDxe/ComponentName.c -text
PartitionDxe/ElTorito.c -text
PartitionDxe/Gpt.c -text
PartitionDxe/Mbr.c -text
PartitionDxe/Partition.c -text
PartitionDxe/Partition.h -text
PartitionDxe/PartitionDxe.inf -text
PciBusDxe/ComponentName.c -text
PciBusDxe/ComponentName.h -text
PciBusDxe/PciBus.c -text
PciBusDxe/PciBus.h -text
PciBusDxe/PciBusDxe.inf -text
PciBusDxe/PciCommand.c -text
PciBusDxe/PciCommand.h -text
PciBusDxe/PciDeviceSupport.c -text
PciBusDxe/PciDeviceSupport.h -text
PciBusDxe/PciDriverOverride.c -text
PciBusDxe/PciDriverOverride.h -text
PciBusDxe/PciEnumerator.c -text
PciBusDxe/PciEnumerator.h -text
PciBusDxe/PciEnumeratorSupport.c -text
PciBusDxe/PciEnumeratorSupport.h -text
PciBusDxe/PciHotPlugSupport.c -text
PciBusDxe/PciHotPlugSupport.h -text
PciBusDxe/PciIo.c -text
PciBusDxe/PciIo.h -text
PciBusDxe/PciLib.c -text
PciBusDxe/PciLib.h -text
PciBusDxe/PciOptionRomSupport.c -text
PciBusDxe/PciOptionRomSupport.h -text
PciBusDxe/PciPowerManagement.c -text
PciBusDxe/PciPowerManagement.h -text
PciBusDxe/PciResourceSupport.c -text
PciBusDxe/PciResourceSupport.h -text
PciBusDxe/PciRomTable.c -text
PciBusDxe/PciRomTable.h -text
PciRootBridgeDxe/DeviceIo.c -text
PciRootBridgeDxe/DeviceIo.h -text
PciRootBridgeDxe/Ia32/PcatIo.c -text
PciRootBridgeDxe/PcatPciRootBridge.c -text
PciRootBridgeDxe/PcatPciRootBridge.h -text
PciRootBridgeDxe/PcatPciRootBridgeDevicePath.c -text
PciRootBridgeDxe/PcatPciRootBridgeIo.c -text
PciRootBridgeDxe/Pci22.h -text
PciRootBridgeDxe/PciRootBridge.inf -text
PciRootBridgeDxe/X64/PcatIo.c -text
/PostBuild.sh -text
/PostBuildClang.sh -text
/PostBuildDuet.sh -text
/PostBuildUnix.sh -text
/Readme.rtf -text
SataControllerDxe/ComponentName.c -text
SataControllerDxe/SataController.c -text
SataControllerDxe/SataController.h -text
SataControllerDxe/SataControllerDxe.inf -text
SaveResume/AcpiS3SaveDxe/AcpiS3Save.c -text
SaveResume/AcpiS3SaveDxe/AcpiS3Save.h -text
SaveResume/AcpiS3SaveDxe/AcpiS3SaveDxe.inf -text
SaveResume/AcpiS3SaveDxe/AcpiVariableThunkPlatform.c -text
SaveResume/BootScriptExecutorDxe/BootScriptExecutorDxe.inf -text
SaveResume/BootScriptExecutorDxe/IA32/S3Asm.S -text
SaveResume/BootScriptExecutorDxe/IA32/S3Asm.asm -text
SaveResume/BootScriptExecutorDxe/IA32/SetIdtEntry.c -text
SaveResume/BootScriptExecutorDxe/ScriptExecute.c -text
SaveResume/BootScriptExecutorDxe/ScriptExecute.h -text
SaveResume/BootScriptExecutorDxe/X64/S3Asm.S -text
SaveResume/BootScriptExecutorDxe/X64/S3Asm.asm -text
SaveResume/BootScriptExecutorDxe/X64/SetIdtEntry.c -text
/Thunk16-probe.S -text
/Thunk16.S -text
U90AcpiTables/U90AcpiTables.c -text
U90AcpiTables/U90AcpiTables.inf -text
UefiCpuPkg/CpuDxe/CpuDxe.c -text
UefiCpuPkg/CpuDxe/CpuDxe.c.orig -text
UefiCpuPkg/CpuDxe/CpuDxe.h -text
UefiCpuPkg/CpuDxe/CpuDxe.h.orig -text
UefiCpuPkg/CpuDxe/CpuDxe.inf -text
UefiCpuPkg/CpuDxe/CpuDxe.inf.orig -text
UefiCpuPkg/CpuDxe/CpuGdt.c -text
UefiCpuPkg/CpuDxe/CpuGdt.c.orig -text
UefiCpuPkg/CpuDxe/Ia32/CpuAsm.S -text
UefiCpuPkg/CpuDxe/Ia32/CpuAsm.asm -text
UefiCpuPkg/CpuDxe/Ia32/IvtAsm.S -text
UefiCpuPkg/CpuDxe/Ia32/IvtAsm.asm -text
UefiCpuPkg/CpuDxe/X64/CpuAsm.S -text
UefiCpuPkg/CpuDxe/X64/CpuAsm.asm -text
UefiCpuPkg/CpuIo2Dxe/CpuIo2Dxe.c -text
UefiCpuPkg/CpuIo2Dxe/CpuIo2Dxe.h -text
UefiCpuPkg/CpuIo2Dxe/CpuIo2Dxe.inf -text
UefiCpuPkg/CpuIo2Smm/CpuIo2Smm.c -text
UefiCpuPkg/CpuIo2Smm/CpuIo2Smm.h -text
UefiCpuPkg/CpuIo2Smm/CpuIo2Smm.inf -text
UefiCpuPkg/CpuIoPei/CpuIoPei.c -text
UefiCpuPkg/CpuIoPei/CpuIoPei.h -text
UefiCpuPkg/CpuIoPei/CpuIoPei.inf -text
UefiCpuPkg/Include/Library/LocalApicLib.h -text
UefiCpuPkg/Include/Library/MtrrLib.h -text
UefiCpuPkg/Include/Library/UefiCpuLib.h -text
UefiCpuPkg/Include/Register/LocalApic.h -text
UefiCpuPkg/Library/BaseUefiCpuLib/BaseUefiCpuLib.inf -text
UefiCpuPkg/Library/BaseUefiCpuLib/Ia32/InitializeFpu.S -text
UefiCpuPkg/Library/BaseUefiCpuLib/Ia32/InitializeFpu.asm -text
UefiCpuPkg/Library/BaseUefiCpuLib/X64/InitializeFpu.S -text
UefiCpuPkg/Library/BaseUefiCpuLib/X64/InitializeFpu.asm -text
UefiCpuPkg/Library/BaseXApicLib/BaseXApicLib.c -text
UefiCpuPkg/Library/BaseXApicLib/BaseXApicLib.inf -text
UefiCpuPkg/Library/BaseXApicX2ApicLib/BaseXApicX2ApicLib.c -text
UefiCpuPkg/Library/BaseXApicX2ApicLib/BaseXApicX2ApicLib.inf -text
UefiCpuPkg/Library/MtrrLib/MtrrLib.c -text
UefiCpuPkg/Library/MtrrLib/MtrrLib.inf -text
UefiCpuPkg/Library/SecPeiDxeTimerLibUefiCpu/IpfTimerLib.c -text
UefiCpuPkg/Library/SecPeiDxeTimerLibUefiCpu/SecPeiDxeTimerLibUefiCpu.inf -text
UefiCpuPkg/Library/SecPeiDxeTimerLibUefiCpu/X86TimerLib.c -text
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.ia32.port80.raw -text
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.ia32.raw -text
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.ia32.serial.raw -text
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.inf -text
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.x64.port80.raw -text
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.x64.raw -text
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.x64.serial.raw -text
UefiCpuPkg/ResetVector/Vtf0/Build.py -text
UefiCpuPkg/ResetVector/Vtf0/CommonMacros.inc -text
UefiCpuPkg/ResetVector/Vtf0/DebugDisabled.asm -text
UefiCpuPkg/ResetVector/Vtf0/Ia16/Init16.asm -text
UefiCpuPkg/ResetVector/Vtf0/Ia16/Real16ToFlat32.asm -text
UefiCpuPkg/ResetVector/Vtf0/Ia16/ResetVectorVtf0.asm -text
UefiCpuPkg/ResetVector/Vtf0/Ia32/Flat32ToFlat64.asm -text
UefiCpuPkg/ResetVector/Vtf0/Ia32/SearchForBfvBase.asm -text
UefiCpuPkg/ResetVector/Vtf0/Ia32/SearchForSecEntry.asm -text
UefiCpuPkg/ResetVector/Vtf0/Main.asm -text
UefiCpuPkg/ResetVector/Vtf0/Port80Debug.asm -text
UefiCpuPkg/ResetVector/Vtf0/PostCodes.inc -text
UefiCpuPkg/ResetVector/Vtf0/ReadMe.txt -text
UefiCpuPkg/ResetVector/Vtf0/ResetVectorCode.asm -text
UefiCpuPkg/ResetVector/Vtf0/SerialDebug.asm -text
UefiCpuPkg/ResetVector/Vtf0/Tools/FixupForRawSection.py -text
UefiCpuPkg/UefiCpuPkg.dec -text
UefiCpuPkg/UefiCpuPkg.dsc -text
UefiCpuPkg/Universal/Acpi/S3Resume2Pei/S3Resume.c -text
UefiCpuPkg/Universal/Acpi/S3Resume2Pei/S3Resume2Pei.inf -text
UefiCpuPkg/build.sh -text
UefiCpuPkg/edk2.patch-idtgdt -text
VBoxAppleSim/Console.c -text
VBoxAppleSim/ConsoleControl.h -text
VBoxAppleSim/Cpu.c -text
VBoxAppleSim/DataHubRecords.h -text
VBoxAppleSim/SmBios.h -text
VBoxAppleSim/VBoxAppleSim.c -text
VBoxAppleSim/VBoxAppleSim.inf -text
VBoxAppleSim/llmul.c -text
VBoxFsDxe/OverrideFunctions-kabyl.edk2.c.include -text
VBoxFsDxe/VBoxExt2.inf -text
VBoxFsDxe/VBoxFsDxe.c -text
VBoxFsDxe/VBoxFsDxe.inf -text
VBoxFsDxe/VBoxFswParam.h -text
VBoxFsDxe/VBoxHfs.inf -text
VBoxFsDxe/VBoxIso9660.inf -text
VBoxFsDxe/fsw_base.h -text
VBoxFsDxe/fsw_core.c -text
VBoxFsDxe/fsw_core.h -text
VBoxFsDxe/fsw_efi.c -text
VBoxFsDxe/fsw_efi.h -text
VBoxFsDxe/fsw_efi_base.h -text
VBoxFsDxe/fsw_efi_lib.c -text
VBoxFsDxe/fsw_ext2.c -text
VBoxFsDxe/fsw_ext2.h -text
VBoxFsDxe/fsw_ext2_disk.h -text
VBoxFsDxe/fsw_hfs.c -text
VBoxFsDxe/fsw_hfs.h -text
VBoxFsDxe/fsw_iso9660.c -text
VBoxFsDxe/fsw_iso9660.h -text
VBoxFsDxe/fsw_lib.c -text
VBoxFsDxe/fsw_strfunc.h -text
VBoxFsDxe/hfs_format.h -text
VBoxFsDxe/test/README -text
VBoxFsDxe/test/fsw_posix.c -text
VBoxFsDxe/test/fsw_posix.h -text
VBoxFsDxe/test/fsw_posix_base.h -text
VBoxFsDxe/test/lslr.c -text
VBoxFsDxe/test/lsroot.c -text
VBoxIdeBusDxe/Ata.c -text
VBoxIdeBusDxe/Atapi.c -text
VBoxIdeBusDxe/ComponentName.c -text
VBoxIdeBusDxe/ComponentName.h -text
VBoxIdeBusDxe/DriverConfiguration.c -text
VBoxIdeBusDxe/DriverDiagnostics.c -text
VBoxIdeBusDxe/Ide.c -text
VBoxIdeBusDxe/Ide.h -text
VBoxIdeBusDxe/IdeBus.c -text
VBoxIdeBusDxe/IdeBus.h -text
VBoxIdeBusDxe/IdeData.h -text
VBoxIdeBusDxe/VBoxIdeBusDxe.inf -text
VBoxIdeControllerDxe/ComponentName.c -text
VBoxIdeControllerDxe/IdeController.c -text
VBoxIdeControllerDxe/IdeController.h -text
VBoxIdeControllerDxe/VBoxIdeControllerDxe.inf -text
VBoxPeCoffLib/BasePeCoff.c -text
VBoxPeCoffLib/BasePeCoffLibInternals.h -text
VBoxPeCoffLib/PeCoffLib.h -text
VBoxPeCoffLib/PeCoffLoaderEx.c -text
VBoxPeCoffLib/PeImage.h -text
VBoxPeCoffLib/VBoxPeCoffLib.inf -text
/build.sh -text
/buildClang.sh -text
/buildClang32.sh -text
/buildUnix.sh -text
/buildUnix64.sh -text
/build_rule.txt -text
/cbuild.sh -text
/mingw-gcc-build.py -text
rEFIt_UEFI/EfiLib/BdsConnect.c -text
rEFIt_UEFI/EfiLib/BmLib.c -text
rEFIt_UEFI/EfiLib/DevicePath.c -text
rEFIt_UEFI/EfiLib/GenericBdsLib.h -text
rEFIt_UEFI/EfiLib/InternalBdsLib.h -text
rEFIt_UEFI/EfiLib/PiBootMode.h -text
rEFIt_UEFI/Make.common -text
rEFIt_UEFI/Platform/AcpiPatcher.c -text
rEFIt_UEFI/Platform/AppleEfi.h -text
rEFIt_UEFI/Platform/BiosVideo.h -text
rEFIt_UEFI/Platform/Bmp.h -text
rEFIt_UEFI/Platform/BootLog.c -text
rEFIt_UEFI/Platform/Console.c -text
rEFIt_UEFI/Platform/DT_Add.c -text
rEFIt_UEFI/Platform/DT_Add.h -text
rEFIt_UEFI/Platform/DT_pseudo-C.h -text
rEFIt_UEFI/Platform/DataHubCpu.c -text
rEFIt_UEFI/Platform/DataHubRecords.h -text
rEFIt_UEFI/Platform/DriverVar.txt -text
rEFIt_UEFI/Platform/Events.c -text
rEFIt_UEFI/Platform/Injectors.c -text
rEFIt_UEFI/Platform/LegacyBiosThunk.c -text
rEFIt_UEFI/Platform/LegacyBiosThunk.h -text
rEFIt_UEFI/Platform/LegacyBoot.c -text
rEFIt_UEFI/Platform/Platform.h -text
rEFIt_UEFI/Platform/Settings.c -text
rEFIt_UEFI/Platform/SmBios.h -text
rEFIt_UEFI/Platform/StateGenerator.c -text
rEFIt_UEFI/Platform/StateGenerator.h -text
rEFIt_UEFI/Platform/UsbMass.h -text
rEFIt_UEFI/Platform/UsbMassBoot.h -text
rEFIt_UEFI/Platform/UsbMassImpl.h -text
rEFIt_UEFI/Platform/VesaBiosExtensions.h -text
rEFIt_UEFI/Platform/ati.c -text
rEFIt_UEFI/Platform/ati_old.c -text
rEFIt_UEFI/Platform/ati_reg.h -text
rEFIt_UEFI/Platform/boot.h -text
rEFIt_UEFI/Platform/cpu.c -text
rEFIt_UEFI/Platform/device_inject.c -text
rEFIt_UEFI/Platform/device_inject.h -text
rEFIt_UEFI/Platform/device_tree.c -text
rEFIt_UEFI/Platform/device_tree.h -text
rEFIt_UEFI/Platform/gma.c -text
rEFIt_UEFI/Platform/gma.h -text
rEFIt_UEFI/Platform/guid.c -text
rEFIt_UEFI/Platform/memvendors.h -text
rEFIt_UEFI/Platform/mkext.c -text
rEFIt_UEFI/Platform/mkext.h -text
rEFIt_UEFI/Platform/nvidia.c -text
rEFIt_UEFI/Platform/nvidia.h -text
rEFIt_UEFI/Platform/pci.c -text
rEFIt_UEFI/Platform/picopng.c -text
rEFIt_UEFI/Platform/picopng.h -text
rEFIt_UEFI/Platform/platformdata.c -text
rEFIt_UEFI/Platform/plist.c -text
rEFIt_UEFI/Platform/smbios.c -text
rEFIt_UEFI/Platform/spd.c -text
rEFIt_UEFI/Platform/spd.h -text
rEFIt_UEFI/Platform/stringTable.c -text
rEFIt_UEFI/Platform/usbfix.c -text
rEFIt_UEFI/build.sh -text
rEFIt_UEFI/include/Handle.h -text
rEFIt_UEFI/include/efiConsoleControl.h -text
rEFIt_UEFI/libeg/EfiFileLib.h -text
rEFIt_UEFI/libeg/Makefile -text
rEFIt_UEFI/libeg/efiConsoleControl.h -text
rEFIt_UEFI/libeg/efiGraphicsOutput.h -text
rEFIt_UEFI/libeg/efiUgaDraw.h -text
rEFIt_UEFI/libeg/egemb_font.h -text
rEFIt_UEFI/libeg/image.c -text
rEFIt_UEFI/libeg/libeg.h -text
rEFIt_UEFI/libeg/libeg.mak -text
rEFIt_UEFI/libeg/libeg.mkefi -text
rEFIt_UEFI/libeg/libegint.h -text
rEFIt_UEFI/libeg/libscreen.c -text
rEFIt_UEFI/libeg/load_bmp.c -text
rEFIt_UEFI/libeg/load_icns.c -text
rEFIt_UEFI/libeg/mkegemb.py -text
rEFIt_UEFI/libeg/text.c -text
rEFIt_UEFI/rEFIt.dsc -text
rEFIt_UEFI/rEFIt_proj/rEFIt_proj.xcodeproj/project.pbxproj -text
rEFIt_UEFI/rEFIt_proj/rEFIt_proj.xcodeproj/slice.mode1v3 -text
rEFIt_UEFI/rEFIt_proj/rEFIt_proj.xcodeproj/slice.pbxuser -text
rEFIt_UEFI/refit.inf -text
rEFIt_UEFI/refit/Handle.h -text
rEFIt_UEFI/refit/IO.c -text
rEFIt_UEFI/refit/IO.h -text
rEFIt_UEFI/refit/Makefile -text
rEFIt_UEFI/refit/config.c -text
rEFIt_UEFI/refit/egemb_back_selected_small.h -text
rEFIt_UEFI/refit/egemb_refit_banner.h -text
rEFIt_UEFI/refit/icns.c -text
rEFIt_UEFI/refit/lib.c -text
rEFIt_UEFI/refit/lib.h -text
rEFIt_UEFI/refit/main.c -text
rEFIt_UEFI/refit/menu.c -text
rEFIt_UEFI/refit/refit.mak -text
rEFIt_UEFI/refit/refit.mkefi -text
rEFIt_UEFI/refit/screen.c -text
rEFIt_UEFI/refit/syslinux_mbr.h -text
/tools_def.txt -text
