* text=auto !eol
AcpiTables/AcpiTables.c -text
AcpiTables/AcpiTables.inf -text
CpuDxe/Cpu.c -text
CpuDxe/Cpu.inf -text
CpuDxe/CpuDxe.h -text
CpuDxe/Ia32/CpuInterrupt.S -text
CpuDxe/Ia32/CpuInterrupt.asm -text
CpuDxe/X64/CpuInterrupt.S -text
CpuDxe/X64/CpuInterrupt.asm -text
/DuetPkg.fdf -text
/DuetPkgIa32.dsc -text
HFSPlus/HFSPlus.inf -text
HFSPlus/ReadMe.rtf -text
Include/Guids/AcpiDescription.h -text
Include/Guids/ConsoleOutConfig.h -text
Include/Guids/FlashMapHob.h -text
Include/Guids/PciExpressBaseAddress.h -text
Include/Guids/PciOptionRomTable.h -text
Include/IndustryStandards/PeImage.h -text
Include/IndustryStandards/Smbios.h -text
Include/Library/PeCoffLib.h -text
Logo/Logo.bmp -text
Logo/Logo.inf -text
Logo/LogoBW.bmp -text
OsxAcpiPlatformDxe/AcpiPlatform.c -text
OsxAcpiPlatformDxe/AcpiPlatformDxe.inf -text
OsxAcpiTableDxe/AcpiSdt.c -text
OsxAcpiTableDxe/AcpiSdt.h -text
OsxAcpiTableDxe/AcpiTable.c -text
OsxAcpiTableDxe/AcpiTable.h -text
OsxAcpiTableDxe/AcpiTableDxe.inf -text
OsxAcpiTableDxe/AcpiTableProtocol.c -text
OsxAcpiTableDxe/Aml.c -text
OsxAcpiTableDxe/AmlChild.c -text
OsxAcpiTableDxe/AmlNamespace.c -text
OsxAcpiTableDxe/AmlOption.c -text
OsxAcpiTableDxe/AmlString.c -text
OsxBdsLib/BdsBoot.c -text
OsxBdsLib/BdsConnect.c -text
OsxBdsLib/BdsConsole.c -text
OsxBdsLib/BdsMisc.c -text
OsxBdsLib/Bmp.h -text
OsxBdsLib/DevicePath.c -text
OsxBdsLib/GenericBdsLib.h -text
OsxBdsLib/GenericBdsLib.inf -text
OsxBdsLib/GenericBdsStrings.uni -text
OsxBdsLib/InternalBdsLib.h -text
OsxBdsLib/Performance.c -text
OsxBdsLib/String.c -text
OsxBdsLib/String.h -text
OsxBdsPlatformLib/BdsPlatform.c -text
OsxBdsPlatformLib/BdsPlatform.h -text
OsxBdsPlatformLib/PlatformBds.inf -text
OsxBdsPlatformLib/PlatformData.c -text
OsxDxeIpl/Debug.c -text
OsxDxeIpl/Debug.h -text
OsxDxeIpl/DxeInit.c -text
OsxDxeIpl/DxeIpl.h -text
OsxDxeIpl/DxeIpl.inf -text
OsxDxeIpl/HobGeneration.c -text
OsxDxeIpl/HobGeneration.h -text
OsxDxeIpl/Ia32/EnterDxeCore.c -text
OsxDxeIpl/Ia32/Paging.c -text
OsxDxeIpl/Ia32/VirtualMemory.h -text
OsxDxeIpl/LegacyTable.c -text
OsxDxeIpl/LegacyTable.h -text
OsxDxeIpl/PpisNeededByDxeCore.c -text
OsxDxeIpl/PpisNeededByDxeCore.h -text
OsxDxeIpl/SerialStatusCode.c -text
OsxDxeIpl/SerialStatusCode.h -text
OsxDxeIpl/X64/EnterDxeCore.c -text
OsxDxeIpl/X64/Paging.c -text
OsxDxeIpl/X64/VirtualMemory.h -text
OsxEfiLdr/Debug.c -text
OsxEfiLdr/Debug.h -text
OsxEfiLdr/EfiLdr.h -text
OsxEfiLdr/EfiLdr.inf -text
OsxEfiLdr/EfiLdrHandoff.h -text
OsxEfiLdr/EfiLoader.c -text
OsxEfiLdr/LzmaDecompress.h -text
OsxEfiLdr/PeLoader.c -text
OsxEfiLdr/PeLoader.h -text
OsxEfiLdr/Support.c -text
OsxEfiLdr/Support.h -text
OsxEfiLdr/TianoDecompress.c -text
OsxEfiLdr/TianoDecompress.h -text
OsxEfiLdr/efildr.c -text
OsxLegacyAcpi/AcpiPlatform.c -text
OsxLegacyAcpi/AcpiPlatformDxe.inf -text
OsxPartitionDxe/Apple.c -text
OsxPartitionDxe/ComponentName.c -text
OsxPartitionDxe/ElTorito.c -text
OsxPartitionDxe/Gpt.c -text
OsxPartitionDxe/Mbr.c -text
OsxPartitionDxe/Partition.c -text
OsxPartitionDxe/Partition.h -text
OsxPartitionDxe/PartitionDxe.inf -text
OsxSmbiosGenDxe/SmBios.h -text
OsxSmbiosGenDxe/SmbiosGen.c -text
OsxSmbiosGenDxe/SmbiosGen.h -text
OsxSmbiosGenDxe/SmbiosGen.inf -text
OsxSmbiosGenDxe/SmbiosGenStrings.uni -text
OsxSmbiosGenDxe/cpuid.h -text
/PostBuild.sh -text
VBoxAppleSim/Console.c -text
VBoxAppleSim/ConsoleControl.h -text
VBoxAppleSim/Cpu.c -text
VBoxAppleSim/VBoxAppleSim.c -text
VBoxAppleSim/VBoxAppleSim.inf -text
VBoxFsDxe/VBoxExt2.inf -text
VBoxFsDxe/VBoxFsDxe.c -text
VBoxFsDxe/VBoxFsDxe.inf -text
VBoxFsDxe/VBoxFswParam.h -text
VBoxFsDxe/VBoxHfs.inf -text
VBoxFsDxe/VBoxIso9660.inf -text
VBoxFsDxe/fsw_base.h -text
VBoxFsDxe/fsw_core.c -text
VBoxFsDxe/fsw_core.h -text
VBoxFsDxe/fsw_efi.c -text
VBoxFsDxe/fsw_efi.h -text
VBoxFsDxe/fsw_efi_base.h -text
VBoxFsDxe/fsw_efi_lib.c -text
VBoxFsDxe/fsw_ext2.c -text
VBoxFsDxe/fsw_ext2.h -text
VBoxFsDxe/fsw_ext2_disk.h -text
VBoxFsDxe/fsw_hfs.c -text
VBoxFsDxe/fsw_hfs.h -text
VBoxFsDxe/fsw_iso9660.c -text
VBoxFsDxe/fsw_iso9660.h -text
VBoxFsDxe/fsw_lib.c -text
VBoxFsDxe/fsw_strfunc.h -text
VBoxFsDxe/hfs_format.h -text
VBoxFsDxe/test/README -text
VBoxFsDxe/test/fsw_posix.c -text
VBoxFsDxe/test/fsw_posix.h -text
VBoxFsDxe/test/fsw_posix_base.h -text
VBoxFsDxe/test/lslr.c -text
VBoxFsDxe/test/lsroot.c -text
VBoxIdeBusDxe/Ata.c -text
VBoxIdeBusDxe/Atapi.c -text
VBoxIdeBusDxe/ComponentName.c -text
VBoxIdeBusDxe/ComponentName.h -text
VBoxIdeBusDxe/DriverConfiguration.c -text
VBoxIdeBusDxe/DriverDiagnostics.c -text
VBoxIdeBusDxe/Ide.c -text
VBoxIdeBusDxe/Ide.h -text
VBoxIdeBusDxe/IdeBus.c -text
VBoxIdeBusDxe/IdeBus.h -text
VBoxIdeBusDxe/IdeData.h -text
VBoxIdeBusDxe/VBoxIdeBusDxe.inf -text
VBoxIdeControllerDxe/ComponentName.c -text
VBoxIdeControllerDxe/IdeController.c -text
VBoxIdeControllerDxe/IdeController.h -text
VBoxIdeControllerDxe/VBoxIdeControllerDxe.inf -text
VBoxPeCoffLib/BasePeCoff.c -text
VBoxPeCoffLib/BasePeCoffLibInternals.h -text
VBoxPeCoffLib/PeCoffLib.h -text
VBoxPeCoffLib/PeCoffLoaderEx.c -text
VBoxPeCoffLib/PeImage.h -text
VBoxPeCoffLib/VBoxPeCoffLib.inf -text
/build32.sh -text
